<div>
  <label>Server Name</label>
  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
  <input type="text" class="form-control" [(ngModel)]="serverName" />
  <!-- <p>{{serverName}}</p> -->
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add server
  </button>
</div>

<div>
  <input type="text" class="form-control" [(ngModel)]="userName" />
  <button
    class="btn btn-primary"
    [disabled]="userName == ''"
    (click)="resetName()"
  >
    Reset user name
  </button>
</div>



{{ userName }}
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreation }}</p> -->
<p *ngIf="serverCreated; else noserver" >Server was created, server name is {{ serverName }}</p>
<ng-template #noserver> <p>No server was created!</p></ng-template>
<!-- <app-server></app-server>
<app-server></app-server> -->
<app-server *ngFor="let server of servers"></app-server>
<hr>
<button
  class="btn btn-primary"
  (click)="changeDisplay()"
>
Display Details
</button>
<p *ngIf="display">Secret Password = tuna </p>
<ul 
  *ngFor="let click of clicks; let index = index"
  [ngStyle]="{backgroundColor: index >= 4 ? 'blue' : 'white'}"
  [ngClass]="{white: index >= 4}"
  
>
<li>{{click}}</li>
</ul>
  
